<div>
  <pre>
    <%= t(:hello).capitalize %> <span><%= @resource.email %></span>!

    <%= t '.request_reset_link_msg' %>
    <% expiry_time = 24.hours.from_now.to_i %>
    <% reset_password_url = edit_password_url(@resource, { reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s, expiry: expiry_time }) %>
    <%= link_to t('.password_change_link'), reset_password_url, allow_other_host: true %>
    <%= t '.expire_in' %>
    <%= t '.ignore_mail_msg' %>
    <%= t '.thanks' %>
    <%= t '.signature' %>
  </pre>
</div>