<div style="font-size: 16px; font-family: Arial; margin: 5px; line-height: 1.4;">
  <span><%= t(:hello).capitalize %> <%= @resource.email %>!</span>
  <br> 
  <br>
  <span><%= t('.request_reset_link_msg')%> <%= link_to('hoa.com', 'https://hoa.com', target: "_blank")%></span>
    <br>
  <span><%= t('.request_reset_follow_link') %></span>
  <br>
  <span>
    <% expiry_time = (Time.current + 30.minutes).to_i %>
    <% reset_password_url = edit_password_url(@resource, { reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s, expiry: expiry_time }) %>
    <%= link_to t('.password_change_link'), reset_password_url, allow_other_host: true %>
  </span>
  <br>
  <br>
  <span><%= t('.expire_in') %></span>
  <br>
  <span><%= t('.ignore_mail_msg') %></span>
  <br>
  <br>
  <span><%= t('.thanks') %></span>
  <br>
  <span><%= t('.signature') %></span>
</div>